{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["prettier", "node"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "class-methods-use-this": "off",
    "prefer-const": ["error"]
  }
}
